@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@500;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Figtree", sans-serif;
  font-weight: 500;
}
:root {
  --clr-yellow: hsl(47, 88%, 63%);
  --clr-white: hsl(0, 0%, 100%);
  --clr-grey: hsl(0, 0%, 50%);
  --clr-Black: hsl(0, 0%, 7%);
}

body {
  background-color: var(--clr-yellow);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.ilustration {
  border-radius: 15px;
  margin-bottom: 20px;
}

.card {
  background-color: var(--clr-white);
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-direction: column;
  border: 2px outset var(--clr-Black);
  box-shadow: 10px 10px 0px 2px var(--clr-Black);
  border-radius: 20px;
  width: 380px;
  height: 540px;
  padding: 20px;
}

.tag {
  background-color: var(--clr-yellow);
  font-weight: 800;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.title {
  color: var(--clr-Black);
  font-weight: 800;
  font-size: 1.5rem;
  margin-bottom: 20px;
  margin-top: 10px;
}

.card:has(.title:hover) {
  box-shadow: 15px 15px 0px 4px var(--clr-Black);
  .title {
    color: var(--clr-yellow);
    cursor: pointer;
  }
}

.description {
  color: var(--clr-grey);
}

.author {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.profile-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.profile-name {
  font-weight: 800;
}

@media screen and (max-width: 400px) {
  .card {
    width: 350px;
    height: fit-content;
  }
  .ilustration {
    width: 100%;
  }
  .title {
    font-size: 1.2rem;
  }
  .description {
    font-size: 0.8rem;
  }
  .profile-name {
    font-size: 0.8rem;
  }
}
